* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #6e6e6e;
}

header {
  background-color: #333;
  box-shadow: 0px 0px 10px 0px black;
  padding: 1rem;
}

main {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

main table {
  background-color: #333;
  font-size: 1.2rem;
  margin-top: 1rem;
  border: none;
  max-width: 700px;
}

main table td {
  padding: 0.5rem;
  border-bottom: 1px solid #6e6e6e;
}
